.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 130px;
    border-radius: 5px;
    transition: .3s linear all;
}
.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}
.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}
.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}
.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}
.sending {
    color: #26c6da;
    font-style: italic;
}
