body {
    color: #FFFFFF;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
}

.home-content {
    background: transparent;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.jobs {
    margin-top: 75px;
    height:auto;
    padding: 20px 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.job-card {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for desired lightness */
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for desired lightness */
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 1000px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    max-width: 800px;
    margin-top: -30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    max-width: 600px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}
.about{
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-hire {
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: yellowgreen;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
    color: #FFFFFF;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}
.description-container {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.address-container {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    margin-top: 7px;
    margin-left: 10px
}

.btn-hire::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06) 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn-hire:hover::before {
    background-position: 100% 0;
}

.btn-hire::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06) 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;

}

.btn-hire:hover::after {
    background-position: 100% 0;
}

.home-image {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 3s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-image .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image .glowing-circle::after {
    content: '';
    position: absolute;
    width: 390px;
    height: 390px;
    background: black;
    border-radius: 50%;
}

.glowing-circle .image {
    position: relative;
    height: 390px;
    width: 390px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;

}

.image img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 390px;
    height: 390px;
    max-height: 390px;
    object-fit: cover;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f03, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);

    }
}
